:root {
  --background-color: #04203a;
  --backgroung2: #0b4f6c;
  --color1: #acb3bf;
  --button: #e5e5e5;
  --button-hover: #696969;
  --text-color: #000000;

  --global-padding: 5px;
  --global-margin: 10px;

  --smooth: 15px;
  --less-smooth: 5px;

  --written-text-font-size: 20px;
  --written-title-font-size: 28px;

  --buffer-height: 50px;


}

h1, h2, h3 {
  margin: var(--global-margin);
}

.title {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  border-color: #000000;
  background-color: var(--color1);
  font-size: 60px;
  border-style: solid;
  border-radius: var(--smooth);
  height: fit-content;
}

.title:hover {
  background-color: var(--button-hover);

}

.menuButtons {
  display: flex;
  justify-content: space-evenly;
}

.menuButton {
  cursor: pointer;
  background-color: var(--button);
  color: var(--text-color);
  height: 75px;
  width: 100%;
  font-size: 32px;
  border-radius: var(--smooth);
}

button:hover {
  background-color: var(--button-hover);
}

.profileButton {
  cursor: pointer;
  position: fixed;
  right: 15px;
  top: 15px;
  height: 50px;
  width: 50px;
  background-color: var(--button);
  color: var(--text-color);
  font-size: 15px;
  text-align: center;
  padding-bottom: var(--global-padding);
  border-radius: var(--smooth);
}

.logoutButton {
  cursor: pointer;
  position: fixed;
  right: 15px;
  top: 75px;
  height: 50px;
  width: 50px;
  border-radius: var(--smooth);
}

.content {
  width: 60%;
  font-size: var(--written-text-font-size);
  min-width: 600px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--backgroung2);
  border-bottom-left-radius: var(--smooth);
  border-bottom-right-radius: var(--smooth);
}

/* Use div buffer to generate extra space between two elements */
.buffer {
  height: var(--buffer-height);
}

/*HomePage*/
.homePageIntro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: var(--global-margin);
}


/* User management */

.userForm {
  display: flex;
  width: 30%;
  flex-direction: column;
  margin: var(--global-margin);
}



/* Styling for posting and posted content */
.post {
  padding: var(--global-padding);
  margin: var(--global-margin);
  background-color: var(--color1);
  border-radius: var(--smooth);
  display: flex;
}

.postProfile {
  width: 20%;
  overflow-wrap: break-word;
  padding-right: var(--global-padding);
}

.postData {

  width: 65%;
  overflow-wrap: break-word;
}

.postButton {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center
}

.postButton button {
  width: 40px;
  height: 40px;
  padding: var(--global-padding);
  background-color: var(--button);
  color: var(--text-color);
  border-radius: var(--smooth);
  cursor: pointer;
}

.postForm{
  display: flex;
  flex-direction: row;
  margin: var(--global-margin);
}


.gamePost:hover {
  background-color: var(--button-hover);
  cursor: pointer;

}

/* Styling for forms */

.form-container {
  display: flex;
  flex-direction: column;
  font-size: var(--written-text-font-size);
  background-color: var(--color1);
}

.form-container * {
  margin: var(--global-margin);
  padding: var(--global-padding);
  border-radius: var(--less-smooth);
  font-size: var(--written-text-font-size);
}

.form-container h2 {
  font-size: var(--written-title-font-size);
  text-align: center;
}

.form-container label {
  padding: 0px;
  margin-bottom: 0px;;
}

.form-container textarea {
  height: 120px;
  font-size: var(--written-text-font-size);
  resize: none;
}

/* Used for the review rating score */
select {
  text-align: center;
}


/* Miscellaneous styling */

ul {
  list-style-type: none;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin-top: 0;
}

main {
  display: flex;
  flex-direction: column;
  font-family: "Ubuntu", sans-serif;
}

a {
  color: var(--text-color);
}


/* Styling for smaller viewports */
@media only screen and (max-width: 600px) {
  nav {
    justify-content: center;
  }

  main {
    justify-content: center;
  }

  ul {
    list-style-type: none;
    justify-content: center;
    padding: 0;
  }

  .content {
    width: 100%;
    margin: 0;
    padding: 0;
    min-width: 500px;
  }

  body {
    margin: 0;
  }
}
