:root {
  --background-color: #04203a;
  --text-color: #DCDCDC;
}

ul {
  list-style-type: none;
}

.content {
  width: 60%;
  /* center the div */
  margin: 0 auto;
}

/* Use div buffer to generate extra space between two elements */
.buffer {
  height: 100px;

}

.menuButtons {
  display: flex;
  justify-content: space-evenly;
}

button {
  cursor: pointer;
  background-color: #ACB3BF;
  color: #000000;
  height: 75px;
  width: 200px;
  font-size: 32px;
}


body {
  background-color: var(--background-color);
  color: var(--text-color);
}

main {
  display: flex;
  flex-direction: column;
  font-family: 'Ubuntu', sans-serif

}

a {
  color: var(--text-color);
}

.game-cover {
  width: 25%;
  height: auto;
}

.game-cover img {
  width: auto;
  max-width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

@media only screen and (max-width: 800px) {
  nav {
    justify-content: center;
  }

  main {
    justify-content: center;
  }

  ul {
    list-style-type: none;
    justify-content: center;
    padding: 0;
  }
}