:root {
  --background-color: #04203a;
  --backgroung2: #0b4f6c;
  --color1: #acb3bf;
  --button-hover: #696969;
  --text-color: #000000;

  --global-padding: 5px;
  --global-margin: 10px;

  --smooth: 15px;

}

ul {
  list-style-type: none;
}

.title {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  border-color: #000000;
  font-size: 60px;
  border-style: solid;
  border-radius: var(--smooth);
  height: fit-content;
}

.content {
  width: 60%;
  min-width: 600px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--backgroung2);
  border-bottom-left-radius: var(--smooth);
  border-bottom-right-radius: var(--smooth);
}

/* Use div buffer to generate extra space between two elements */
.buffer {
  height: 100px;
}
.reviewInput {
  display: flex;
  flex-direction: row;
  margin: var(--global-margin);
}

.reviewInputCol {
  width: 10%;
  min-width: 70px;
  max-width: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
textarea {
  height: 120px;
  resize: none;
  width: 100%;
  padding: var(--global-padding);
}

select {
  width: 100%;
  text-align: center;
}

.ratingButton {
  cursor: pointer;
}

.reviewData {
  width: 70%;
  overflow-wrap: break-word;
}

.menuButtons {
  display: flex;
  justify-content: space-evenly;
}

.menuButton {
  cursor: pointer;
  background-color: var(--color1);
  color: var(--text-color);
  height: 75px;
  width: 100%;
  font-size: 32px;
  border-radius: var(--smooth);
}

button:hover {
  background-color: var(--button-hover);
}

.profileButton {
  cursor: pointer;
  position: fixed;
  right: 15px;
  top: 15px;
  height: 50px;
  width: 50px;
  background-color: var(--color1);
  color: var(--text-color);
  font-size: 20px;
  text-align: center;
  padding-bottom: var(--global-padding);
  border-radius: var(--smooth);
}

/* Review styling */
.review {
  padding: var(--global-padding);
  margin: var(--global-margin);
  background-color: var(--color1);
  border-radius: var(--smooth);
  display: flex;
}

.profileData {
  width: 30%;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin-top: 0;
}

main {
  display: flex;
  flex-direction: column;
  font-family: "Ubuntu", sans-serif;
}

a {
  color: var(--text-color);
}

.game-cover {
  width: 25%;
  height: auto;
}

.game-cover img {
  width: auto;
  max-width: 100%;
  object-fit: cover;
  border-radius: var(--smooth);
}


@media only screen and (max-width: 600px) {
  nav {
    justify-content: center;
  }

  main {
    justify-content: center;
  }

  ul {
    list-style-type: none;
    justify-content: center;
    padding: 0;
  }

  .content {
    width: 100%;
    margin: 0;
    padding: 0;
    min-width: 500px;
  }

  body {
    margin: 0;
  }
}
